body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-height: 550px;
}

header h1 {
    text-align: center;
    color: #333;
}

#story {
    margin-bottom: 20px;
}

#choices {
    margin-bottom: 20px;
}

#choices button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    background-color: #5c6bc0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#choices button:hover {
    background-color: #3f51b5;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container img {
    max-width: 62%;
    height: auto;
    border-radius: 4px;
    max-height: 350px;
}

footer {
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 0px 20px;
    border-radius: 15px;
}

footer span {
    background-color: #32ec1a;
}

.addendum-button {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background-color: #5c6bc0;
    border: none;
    border-radius: 5px;
}

.addendum-button:hover {
    background-color: #3f51b5;
}


.addendum-popup {
    display: none; /* Hide by default */
    position: fixed; /* Stay in place */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Width of the popup */
    max-width: 600px; /* Maximum width */
    height: 500px;
    padding: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it's above other content */
    overflow: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    opacity: 0.99;
}

/* Optional: Full-screen overlay background */
.addendum-overlay {
    display: none; /* Hide by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 999; /* Behind the popup, but above other content */
}

.addendum-popup h1 {
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Optional: Adjust as needed for spacing */
    margin-bottom: 20px; /* Optional: Adjust as needed for spacing */
}

.addendum-popup p, .addendum-popup ul {
    text-align: justify;
    text-justify: inter-word;
}


.addendum-popup::-webkit-scrollbar {
    width: 6px;
}

.addendum-popup::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 10px;
    height: 100px;
}